/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
  font-family: Oxanium;
  color: white;
  background: #2a559b;
  background: linear-gradient(
    45deg,
    rgba(42, 85, 155, 1) 13%,
    rgba(87, 91, 199, 1) 35%,
    rgba(25, 44, 77, 1) 96%
  );
}

header div h1 {
  font-size: 25px;
}

header div h2 {
  font-size: 15px;
}

.nomFilm {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

/* Taille de la liste des films */
.tailleListeFilms {
  width: 85%;
  height: 100%;
}

/* Taille de l'image du test */
.tailleImageTest {
  width: 100%;
  height: auto;
  border: 3px solid rgb(0, 183, 255);
  border-radius: 8px;
}

.searchBar {
  width: 45%;
  border-radius: 8px;
  background-color: rgb(193, 218, 218);
}

.icon-search {
  border-radius: 8px;
  background-color: rgb(65, 136, 237);
}

.colorBtnRechercher {
  background-color: rgb(132, 196, 196);
}

/* Media Query pour la version desktop */
@media screen and (min-width: 1920px) {
  header div h1 {
    font-size: 75px;
  }

  header div h2 {
    font-size: 45px;
  }

  .tailleListeFilms {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
  }

  .tailleImageTest {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 3px solid rgb(0, 183, 255);
  }
}
