/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
  font-family: Oxanium;
  color: white;
  background: #2a559b;
  background: linear-gradient(
    45deg,
    rgba(42, 85, 155, 1) 13%,
    rgba(87, 91, 199, 1) 35%,
    rgba(25, 44, 77, 1) 96%
  );
}

header div h1 {
  font-size: 25px;
}

header div h2 {
  font-size: 15px;
}
